body{
    background: rgb(5, 84, 228);
    font: normal 15pt Arial;
}

header{
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding:15px;
    width:500px;

    margin: auto;

    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.577);
}

div#msg1{
    text-align: center;
}

div#botao{
    text-align: center;
    padding: 10px;
    
}

div#res{
    text-align: center;
}

footer{
    color:white;
    text-align: center;
    font-style:italic;
}